:root {
     --color-red: #eb4b4c;
	 --color-orange: #FB8A58;
	 --color-light-orange: #FCB758;
	 --color-light-yellow: #FCEF58;
     --color-yellow: #fdbd41;
     --color-green: #52c953;
     --color-blue: #5f9dec;
}

body * {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url('../img/bg-222.svg') repeat-y #fff;
	background-size: 220px;
	display: flex;
	margin: 0;
	padding-bottom: 8em;
}

img,
video,
audio {
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 0;
}

body,
input,
textarea {
	font: 1em/1.5 "Helvetica Neue", "Helvetica", "Roboto", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

img[title] {
    cursor: help;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
	flex: 1 1 auto;
	margin-left: 220px;
	padding: 0 20px;
	position: relative;
}

main > footer {
	color: #ccc;
	text-align: center;
}

.skip-main {
	display: block;
	height: 1px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 100;
}

.skip-main:focus {
	background: rgba(255, 255, 255, 0.9);
	height: inherit;
	padding: 1em;
}

.main-nav .close,
.mobile-header {
	display: none;
}

.main-nav {
	background: #222;
	color: #fff;
	flex: 0 0 auto;
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 200px;
	position: fixed;
	width: 220px;
	z-index: 100;
}

.main-nav .logo {
	border-bottom: 1px solid #333;
	color: #999;
	font: italic 1em Georgia, Times, serif;
	height: 121px;
	padding: 1.25em;
	text-align: center;
}

.main-nav a {
	color: #ccc;
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
}

.main-nav h3 {
	color: #666;
	padding: 0 1em;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	
}

.main-nav .profile {
	border-top: 1px solid #333;
	background: #222;
	display: flex;
	bottom: 0;
	padding: 1.5em 1em;
	position: fixed;
	width: 205px;
}

.main-nav .profile a {
	display: inline;
	padding: 0;
	text-decoration: underline;
}

.main-nav .avatar {
	border: 2px solid #fff;
	border-radius: 40px;
	margin-right: 1em;
	width: 50px;
}

#main:focus {
	outline: none;
}

.login nav .login a,
.dashboard nav .dashboard a,
.proofs nav .proofs a,
.ads nav .ads a,
.builder nav .ads a,
.specials.builder nav .archive a,
.report nav .ads a,
.ad-item-group nav .ads a,
.archive nav .archive a,
.retractions nav .retractions a,
.ad-plans nav .ad-plans a,
.secret-specials nav .secret-specials a,
.products nav .products a,
.media nav .media a, 
.labels nav .labels a,
.banners nav .banners a,
.logout nav .logout a {
	background: #333;
	border-color: #fff;
	color: #fff;
}

.specials.builder nav .ads a {
	background: transparent;
	color: #ccc;
}

.subnav h4 {
	margin-top: 0;
}

.subnav .menu {
	padding-bottom: 1em;
	position: relative;
}


.subnav .top a,
.subnav .disabled a {
	background: #000;
	color: #fff;
}

.subnav .preview a {
	background: var(--color-green);
	color: #fff;
}

.menu.next-prev-ads {
	margin: auto;
	padding: 0;
	text-align: center;
}

nav.sister-ads {
	background: #fff url('../img/select-arrows.svg') no-repeat top 11px right;
	border: 1px solid #ddd;
	border-radius: 3px;
	height: 55px;
	margin: auto;
	padding: 0;
	position: relative;
	overflow: hidden;
	text-align: center;
	width: 300px;
	z-index: 20;
}

nav.sister-ads:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	height: auto;
}

nav.sister-ads h3 {
	margin: 0;
}

nav.sister-ads .menu {
	border-top: 1px solid #eee;
	font-size: 1.2em;
	margin-top: 0.5em;
	padding: 0.5em 0 0 0;
}

nav.sister-ads .menu li {
	display: block;
	margin: 0;
}

nav.sister-ads .menu a {
	background: none;
	border-radius: 0;
	display: block;
	padding: 0.5em;
}

nav.sister-ads .menu a:hover {
	background: #eee;
	color: #000;
}

.menu.sister-ads li {
	display: inherit;
	height: 50px;
}

.menu.sister-ads li.current {
	position: absolute;
	top: 0;
	width: 100%;
}

.menu.sister-ads:hover {
	background-image: none;
	border-color: #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	height: inherit;
}

.menu.sister-ads a {
	display: block;
	padding: 0.5em 0;
}

.menu.sister-ads a,
.menu.sister-ads a:hover {
	background: transparent;
	color: inherit;
}

.menu.sister-ads .nugget-markets-valley img,
.menu.sister-ads .nugget-markets-marin img,
.menu.sister-ads .nugget-markets-sonoma img,
.menu.sister-ads .nugget-markets img {
	max-height: 50px;
	max-width: 100px;
}

.menu.sister-ads .sonoma-market img {
	max-height: 45px;
	max-width: 110px;
}

.menu.sister-ads .fork-lift img {
	max-height: 50px;
	max-width: 100px;
}

.menu.sister-ads .food-4-less img {
	max-height: 50px;
	max-width: 100px;
}

.menu.next-prev-ads {
	height: 80px;
	max-width: 500px;
	padding: 0.5em 0;
}

.menu.next-prev-ads > a {
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 55px;
	position: absolute;
	top: 8px;
	width: 95px;
	text-align: center;
}

.menu.next-prev-ads > a:first-child {
	padding-left: 17px;
	left: 0;
}

.menu.next-prev-ads > a:last-child {
	padding-right: 17px;
	right: 0;
}

.menu.next-prev-ads > a:first-child:before {
	content: url('../img/arrow.svg');
	height: 10px;
	position: absolute;
	left: 0;
	top: calc(50% - 6px);
	transform: rotate(-90deg);
	width: 10px;
}

.menu.next-prev-ads > a:last-child:after {
	content: url('../img/arrow.svg');
	height: 10px;
	position: absolute;
	right: 0;
	top: calc(50% - 6px);
	transform: rotate(90deg);
	width: 10px;
}

.specials .subnav,
.builder .subnav,
.report .subnav {
	border-bottom: 1px solid #eee;
	padding: 0 1em;
}

.subnav a {
	background: #eee;
	border-radius: 2px;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

.menu.next-prev-ads a,
.subnav .menu.departments a {
	font-size: smaller;
}

.subnav a:hover {
	background: #000;
	color: #fff;
}

.menu.next-prev-ads > a:hover {
	background-color: #ccc;
	color: #000;
}

.is-sticky {
	background: #fff;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	left: 0;
	width: 100%;
	top: 0 !important;
	z-index: 10;
}

.is-sticky .subnav {
	margin: 0;
}

.is-sticky h4,
.is-sticky ul {
	max-width: 992px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

section > footer {
	text-align: center;
}

.pagination {
	line-height: 3em;
	text-align: center;
}

.pagination span,
.pagination a {
	padding: 0.25em;
}

.pagination .deact,
.pagination a {
	border: 1px solid #eee;
	border-radius: 2px;
}

.pagination .deact {
	color: #999;
}

.pagination a {
	background: #ddd;
	border-color: #ddd;
	text-decoration: none;
}

.pagination a:hover {
	background: #fff;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0;
}

dd + dt {
	margin-top: 1em;
}

dd ul {
	margin: 0;
}

.hide {
	display: none;
}

fieldset {
	border: 0;
	padding: 0;
}

fieldset + fieldset, 
section > section + section {
	margin-top: 4em;
}

legend {
	display: block;
	font-size: 1.5em;
	overflow: visible;
	padding: 0;
	width: 100%;
}

legend + p {
	color: #999;
	font-size: 0.9em;
}

fieldset ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

fieldset > ul,
fieldset > div, 
section > dl {
	border-top: 1px solid #eee;
}

fieldset ul + ul {
	border-top: 1px solid #eee;
	margin-top: 1em;
}

fieldset .grid > * {
	text-align: center;
}

fieldset .field.grid > * {
	text-align: left;
}

fieldset li, 
section dl dt {
	margin-top: 1em;
}

fieldset .inline label,
fieldset .inline input {
	width: inherit;
}

.inline label {
	display:inline-block;
	float:none;
}

.inline input + label,
.inline select + label,
.inline label + label {
	margin-left: 1em;
}

fieldset .note, 
dd .note {
	color: #999;
	font-size: small;
	margin: 0.5em 0;
}

fieldset .note.error {
	border-radius: 2px;
	color: #fff;
	padding: 0.25em;
}

.note:before {
	padding-right: 0.25em;
}

span.note:before {
	content: '\2190';
}

div.note:before {
	content: '\21B3';
}

input:required:invalid + .note.required {
  color: #fa635d;
}

input:required:valid + .note.required {
  color: #29c231;
}

input:required:valid + .note.required:after {
  content: '\2713';
  margin-left: 0.25em;
}

label {
	display: block;
}

.clear-default {
	color: #000;
	cursor: pointer;
	display: inline;
	text-decoration: underline;
}

.clear-default input {
	display: none;
}

input,
textarea,
select {
	border: 1px solid #ddd;
	font-size: 1em;
	padding: 0.5em;
	width: 100%;
}

textarea.code {
	background: #333;
	color: #4099f8;
	font-family: "Fira Code Regular", Menlo-Regular,'Courier New',monospace;
	font-size: 13px;
	tab-size: 4;
	-webkit-font-smoothing: antialiased;
}

fieldset input[size] {
	width: auto;
}

.short {
	max-width: 300px;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
}

input[type='email'],
input[type='password'],
input[type='search'] {
	border-radius: 0;
	-webkit-appearance: none;
}

input[required].empty {
	border-color: #fa635d;
}

input[readonly],
input[disabled] {
	color: #ccc;
}

.disabled {
	color: #ccc;
	cursor: not-allowed;
}

.checker label.selected,
.radioer label.selected {
	background:#ccc;
	border: 1px solid #3084fd;
	color: #fff;
	box-shadow: 0 0 5px #3084fd;
}

.checker label,
.radioer label {
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 5px;
}

.radioer label {
	display: inline;
}

input.currency {
	background: #fff url('../img/$.svg') 4px 10px no-repeat;
	background-size: 10px;
	text-align: right;
}

td input.currency {
	background-position: 4px 6px;
}

.media-id,
label[for="media-id"] {
	display: none;
	width: inherit;
}

.mce-content-body {
	display: block;
	font: 1em/1.5 "Helvetica Neue";
	padding: 0 1em;
}

label input {
	max-width: inherit;
	width: inherit;
}

label[for="store_chain"] + img {
	height: 54px;
	vertical-align: middle;
}

.inlinegrid label {
	border: 1px solid #eee;
	border-radius: 3px;
	display: inline-block;
	margin: 2px 2px 6px 2px;
	min-height: 120px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	width: 75px;
}

.button,
input[type='submit'],
a.cancel,
a.delete {
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	padding: 0.34em 1em;
}

a.cancel {
	border: 1px solid transparent;
}

.button,
input[type='submit'],
a.cancel:hover,
a.cancel:focus,
a.delete:hover {
	background: #ddd;
	text-decoration: none;
}

input.delete,
a.delete:hover,
a.delete:focus	 {
	background: #fa635d;
	border: 0;
	border-radius: 2px;
	color: #fff;
	outline: none;
	text-decoration: none;
}

a.x {
	background: #ccc;
	border-radius: 1em;
	display: inline-block;
	height: 1.25em;
	line-height: 1.1em;
	margin-left: 1em;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 1.25em;
}

a.button.x {
	border: 0;
}

a.x:hover,
.pill {
	border-radius: 1em;
}

.pill {
	padding: 0 0.75em;
}

a.delete.x:hover {
	background: #fa635d;
}

a.add.x:hover {
	background: #29c231;
	color: #fff;
}

input[type='submit'] {
	cursor: pointer;
	min-width: inherit;
	padding: 0.34em 1em;
	width: auto;
}

input[type='submit'].small {
	font-size: small;
}

.actions input[type="submit"] {
	background: #29c231;
	border: 0;
	color: #fff;
	font-size: 1.25em;
}

.actions input[type="submit"].delete {
	background: #fa635d;
}

a:focus,
.button:focus,
.cancel:focus {
	outline: 1px solid #3084fd;
	box-shadow: 0 0 5px #3084fd;
}

select:focus,
input:focus {
	border-color: #3084fd;
	box-shadow: 0 0 5px #3084fd;
	outline: none;
}

input[required].empty:focus,
a.delete:focus {
	border: 1px solid #fa635d;
	box-shadow: 0 0 5px #fa635d;
}

a.delete:focus {
	border-color: #fff;
}

.button.small,
.toggle.button {
	font-size: small;
}

.button.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.toggle.button {
	position: relative;
	padding-left: 1.75em;
}

.toggle.button:before,
.toggle.toggled.button:before {
	content: url('../img/arrow-right.svg');
	height: 0.75em;
	left: 0.75em;
	position: absolute;
	width: 0.75em;
}

.toggle.toggled.button:before {
	content: url('../img/arrow-down.svg');
}

a.close {
	position: absolute;
	top: 0;
	right: 10px;
	text-decoration: none;
}

.appender {
	position: relative;
}

.appender li:last-child .remove {
	display: none;
}

.appender li + li:last-child {
	border-top: 1px solid #eee;
	padding-top: 1em;
}

.ad-plans #append-upc:last-child {
	display: none;
}

input[type="checkbox"]:focus {
	outline: 1px solid #3084fd;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url('../img/select-arrows.svg') right no-repeat;
	border-radius: 3px;
	padding-right: 1.25em;
	width: inherit;
}

input.large,
select.large {
	font-size: 2em;
	padding-left: 0.5em;
}

input[type="file"] {
	width: inherit;
}

input[type="file"]:focus {
	border-color: blue;
}

input[type="file"].jpgs,
input[type="file"].jpg,
input[type="file"].pdf {
	margin-top: 50px;
}

input[type="file"].jpgs,
input[type="file"].jpgs + .note,
input[type="file"].jpg,
input[type="file"].jpg + .note,
input[type="file"].pdf,
input[type="file"].pdf + .note {
	margin-left: 70px;
}

input[type="file"].jpgs + .note:before,
input[type="file"].jpg + .note:before,
input[type="file"].pdf + .note:before {
	content: url('../img/drop-pdf.svg');
	margin-left: -70px;
	margin-top: -85px;
	position: absolute;
	width: 100px;
}

input[type="file"].jpg + .note:before {
	content: url('../img/drop-jpg.svg');
}

input[type="file"].jpgs + .note:before {
	content: url('../img/drop-jpgs.svg');
}

.upc-images {
	background: #222;
	bottom: 99px;
	box-shadow: -10px -10px 10px #222;
	height: 100px;
	padding: 15px;
	position: fixed;
	width: 205px;
}

.upc-images.loaded {
	height: 130px;
}

.upc-images .image-drop {
	border-color: transparent;
	color: transparent;
	height: 3em;
	position: relative;
	text-indent: -9999em;
	width: 100%;
	z-index: 20;
}

.upc-images .upload-disclaimer {
	background: #000;
	border-radius: 5px;
	display: none;
	font-size: small;
	padding: 10px;
	position: absolute;
	top: -100px;
}

.upc-images:hover .upload-disclaimer {
	display: block;
}

.upc-images .image-drop + label {
	border: 1px dashed #666;
	border-radius: 10px;
	top: 10px;
	display: block;
	opacity: 0.5;
	position: absolute;
	padding: 10px;
	text-align: center;
	width: calc(100% - 30px);
	z-index: 10;
}

.upc-images .upload-button {
	display: none;
	margin-top: 10px;
}

.upc-images.loaded .image-drop + label {
	border-color: #fff;
	opacity: 1;
}

.upc-images.loaded .upload-button {
	display: inline-block;
}

li.current-image {
    display: inline-block;
    margin-top: 1.5em;
}

.current-image img {
    display: block;
    margin: 0.75em 0;
}

.current-image .delete {
    display: block;
    margin: auto;
    text-align: center;
    width: 5em;
}

.search {
	background: #efefef;
	display: flex;
	margin: 0 -20px;
	padding: 1em;
}

.search input[type='submit'] {
	background: #ddd;
	border-radius: 0 3px 3px 0;
}

.button {
	border: 1px solid #ddd;
	display: inline-block;
	text-decoration: none;
}

.text-button {
	background: #ddd;
	border-radius: 3px;
	display: inline-block;
}

.text-button input[type="text"] {
	border-radius: 3px;
	padding: calc(0.5em - 1px) 0.5em;
}

form > .actions {
	background: #fff;
	bottom: 0;
	left: 0;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05);
	margin: 20px -20px;
	padding: 30px 0;
	position: -webkit-sticky;
	position: sticky;
	text-align: center;
	width: calc(100% + 40px);
	z-index: 50;
}

.actions {
	border-top: 1px solid #ddd;
	list-style: none;
	margin: 2em 0 1em 0;
	padding: 1em 0 0 0;
}

.actions li {
	display: inline;
}

.actions li + li {
	margin-left: 1em;
}

nav .new {
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #000;
	float: right;
	font-size: 16px;
	padding: 0 0.25em;
	text-decoration: none;
}

.waiting {
	background: #feb225;
	border-radius: 10px;
	color: #844510;
	display: inline-block;
	font-size: small;
	padding: 0 0.5em;
}

.listing,
.grid {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid > *,
.current-image {
	background: #fff;
	border: 5px solid #eee;
	border-radius: 3px;
	margin: 0.25em;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

.field.grid {
	gap: 10px;
	margin-top: 1em;
	padding-top: 1em;
}

ul + ul.field.grid {
	border-top: 0;
	padding-top: 0;
}

.field.grid > * {
	border: 0;
	margin: 0;
	overflow: visible;
	padding: 0;
}

.proofs .items.grid > *, 
.builder.detail .items.grid > * {
	overflow: visible;
}

.grid > .no-attachments {
	border: none;
	flex: 0 0 100%;
}

fieldset .grid .flex img {
	max-height: 190px;
}

fieldset .grid img[src*='.svg'] {
	max-height: inherit;
}

#zones .grid > *,
.current-image {
    background: #eee;
}

.grid figcaption > * {
	margin: 0;
}

.grid img[src*='icon'],
fieldset figure img[src*='icon'] {
	max-width: 100px;
}

.grid pre,
.grid code {
	font-size: 0.9em;
	word-wrap: break-word;
}

fieldset figure pre {
	margin-top: 0;
}

.grid .ribbon {
	background: var(--color-green);
	border-width: 1px 0;
	color: #fff;
	display: block;
	left: -135px;
	padding-left: 2.5em;
	position: absolute;
	transform: rotate(-25deg);
	top: 25px;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 10px;
	text-align: left;
}

tbody tr {
	border-top: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
	background: #eee;
}

tbody tr:last-child {
	border-bottom: 1px solid #ddd;
}

tbody td:first-child img {
	vertical-align: middle;
	width: 50px;
}

tbody .publish-0 td,
tbody .disabled-1 td {
	opacity: 0.25;
}

tbody .publish-0 td:first-child:before {
	content: 'draft';
	font-size: small;
}

tbody .disabled-1 td:first-child:before {
	content: 'disabled';
	font-size: small;
}

tbody .feature-1 td {
	font-weight: bold;
}

tbody tr.current-1 {
	background: #3a99fd;
	color: #fff;
}

tbody tr.current-1 a:focus {
	outline: 4px solid #feb225;
}

tbody tr.current-1 + tr.current-1 {
	border-top-color: #97c2fd;
}

thead th .active,
tbody td .active {
	color: #29c231;
	text-shadow: 0 0 3px #29c231;
}

tbody tr.current-1 td .active {
	color: #29c231;
	text-shadow: -1px 1px 3px #fff, 1px -1px 3px #fff, -1px -1px 3px #fff, 1px 1px 3px #fff;
}

td img {
	display: inline-block;
	vertical-align: baseline;

}

.plans col:first-child {
	width: 50px;
}

.plans col:nth-child(2) {
	width: 100px;
}

.ad-plans .plans .past, 
.ad-plans .plans .past a {
	color: #999;
}

.ad-plans .plans .past .flag, 
.ad-plans .plans .past .notes {
	opacity: 0.6;
}

.ad-plans .plans .current {
	background: var(--color-blue);
	border: 10px solid var(--color-blue);
	border-width: 1px 10px;
	color: #fff;
}

.ad-plans .plans td:first-child {
	min-width: 240px;
}

.ad-plans .plans td:last-child {
	min-width: 160px;
}

.ad-plans .plans .current a {
	color: #fff;
}

.ad-plans .flag,
.email-statuses .flag {
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: help;
    display: inline-block;
    height: 15px;
    overflow: hidden;
    width: 15px;
}

.email-statuses .flag,
.ad-plans .flag {
	color: #999;
	font-size: 10px;
	height: 21px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	width: 21px;
}

.ad-plans .flag.notset {
    background: #fff;
}

.email-statuses .flag.unscheduled {
	background: #ccc;
	color: #fff;
}

.email-statuses .flag.draft {
    background: var(--color-orange);
    border-color: var(--color-orange);
	color: #fff;
}

.ad-plans .flag.set,
.email-statuses .flag.scheduled {
    background: var(--color-green);
    border-color: var(--color-green);
}

.email-statuses .flag.sent {
	background: var(--color-blue);
	border-color: var(--color-blue);
	color: #fff;
}

.ad-plans .notes {
	background: var(--color-light-yellow);
	border: 1px solid var(--color-yellow);
	border-radius: 2px;
	border-top-width: 5px;
	color: #666;
	cursor: help;
	display: inline-block;
	font-size: 13px;
	height: 21px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	width: 21px;
}

.ad-plans .flag.set.set, 
.secret-specials .flag.scheduled, 
tbody tr.current-1 a {
	color: #fff;
}

tbody tr.current-1 a.button {
	color: #000;
}

tbody tr.group-tick + .group-tock,
tbody tr.group-tock + .group-tick {
	border-top: 2px solid #999;
}

.inline-date {
    display: inline-block;
}

tfoot {
	background: #ddd;
}

fieldset table {
	font-size: 0.75em;
}

fieldset thead .item {
	min-width: 250px;
}

fieldset thead .enable {
	min-width: 80px;
}

fieldset tfoot input[type='text'],
fieldset tfoot select {
	border-color: #ccc;
}

fieldset td img, 
.picture-upcs img {
	max-width: 50px;
	max-height: 50px;
	padding: 2px;
	vertical-align: middle;
}

fieldset td .delete {
	margin: 0 0.5em;
}

fieldset td input,
fieldset td select {
	width: auto;
}

.mce-content-body {
	background-image: none;
}

.message {
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: flex;
	margin: 1em 0;
	padding: 0.25em 0;
}

.message .icon,
.message .close {
	margin: -0.25em 0;
	padding: 1.25em 0.5em;
	width: 40px;
}

.message .icon {
	border-right: 1px solid rgba(255,255,255,0.25);
	margin-right: 20px;
}

.message .close {
	margin-right: 10px;
	opacity: 0.5;
	width: 30px;
}

.message .icon img,
.message .close img {
	vertical-align: middle;
}

.message .text {
	flex-grow: 1;
}

.message:hover .close {
	opacity: 1;
}

.error {
	background: #fa635d;
}

.confirm {
	background: #41cb4b;
}

.confirm .button {
	background: #14630c;
	border-color: #14630c;
	color: #fff;
	margin: -0.25em 0;
}

a {
    color: #000;
}

section > header {
	position: relative;
}

section > header nav {
	top: 0.5em;
	position: absolute;
	right: 0;
	z-index: 10;
}

.backdrop {
	background: rgba(0,0,0,0.25);
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

.media-browser {
	background: #fff;
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	height: 90%;
	left: 0;
	margin: 5%;
	top: 0;
	position: fixed;
	width: 90%;
	z-index: 100;
}

.media .grid figure {
	text-align: center;
}

.media fieldset figure img {
	border: 1px solid #eee;
	max-height: 1280px;
}

.media fieldset figcaption {
	border: 1px solid #eee;
	border-top-width: 0;
	padding: 1em;
}

.media figcaption input {
	font-size: 0.8em;
}

figure .sponsored {
	color: #999;
	font-size: smaller;
	text-align: right;
}

.version-sizes li {
	align-items: center;
	border-top: 1px solid #eee;
	display: flex;
	padding-top: 1.5em;
}

.version-sizes li .icon {
	flex: 0 0 160px;
	margin-right: 1em;
}

.version-sizes li .icon img {
	border: 0;
}

.version-sizes li p + p {
	margin: 0;
}

body.media-select {
	display: block;
}

.media-select {
	background-image: none;
	padding-bottom: 5em;
}

.media-select > header,
.media-select > footer,
.media-select > nav,
.media-select .skip-main  {
	display: none;
}

.media-select > main {
	margin-left: 0;
}

.media-select .actions {
	background: #fff;
	bottom: 0;
	left: 1px;
	margin: 0;
	padding: 1em;
	position: fixed;
	width: 100%;
}


/* Item Grid */

.items.grid > * {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 1em;
	text-align: center;
}

.items.grid .edit-groups {
	max-height: 370px;
	overflow: scroll;
}

.items.grid ul {
	list-style: none;
	padding: 0;
}

.items.grid .details > * {
	margin: 0;
}

.items.grid .description {
	text-align: left;
}

.items.grid .feature {
	background: #eee;
	font-size: large;
	font-weight: bold;  
	margin: -0.5em -0.5em 0 -0.5em;
	padding-bottom: 5px; 
	position: relative;
	z-index: 1;
}

.items.grid .feature strong {
	background: #fff;
	border: 3px solid #eee;
	border-radius: 25px;
	display: inline-block;  
	height: 50px;
	margin-top: -20px;
	font-size: 35px;
	line-height: 40px;  
	width: 50px;
}

.items.grid .feature-photo, 
.items.grid .details > *.feature-photo {
	overflow: hidden;
	position: relative;
	margin: -0.5em -0.5em 0.5em -0.5em;
}

.media .grid figure img, 
.items.grid .feature-photo img {
	max-height: 200px;
	max-width: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
	object-position: 50% 50%;
}

.items.grid .feature-photo a {
	cursor: zoom-in;
}

.feature-photo .ribbon {
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	left: -80px;
	top: 24px;
}

.items.grid .feature + .feature-photo .ribbon, 
.items.grid .feature + .sort + .feature-photo .ribbon {
	margin-top: 0.5em;
}

.pending .feature-photo .ribbon {
	background-color: var(--color-yellow);
} 

.issue .feature-photo .ribbon {
	background-color: var(--color-red);
}

.items.grid .upc-photos {
	background: url('../img/alpha-grid.svg') center;
	background-size: 16px;
	height: 0;
	overflow: auto;
	padding-top: 66.666%;
	position: relative;
	text-align: center;
}

.proofs .items.grid .upc-photos {
	background-image: none;
}

.items.grid .upc-photos > * {
	align-content: start;
	display: flex;
	gap: 5px;
	height: 100%;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.items.grid .upc-photos img {
	max-height: 100%;
	max-width: 100%;
}

.items.grid .upcs ul {
	display: none;
	list-style: none;
	font-size: small;
	margin-top: 1em;
	padding: 0;
	text-align: left;
}

.items.grid .upcs li {
	padding: 0.25em;
}

.items.grid .upcs li + li {
	border-top: 1px solid #eee;
}

.items.grid > li > label, 
.items.grid > li .item-group-rename {
	background: #eee;
	bottom: 0;
	margin: 0 -0.5em;
	padding: 0.25em;
	position: absolute;
	width: 100%;
}

.items.grid li .disable {
	bottom: 3px;
	display: block;
	right: 10px;
	position: absolute;
	text-decoration: none;
	width: 24px;
}

.items.grid .status {
	color: #fff;
	display: none;
	margin: 1em -8px;
	padding: 10px;
}

.items.grid .status p {
	font-weight: bold;
	margin: 0;
}

.items.grid .status p + ul,
.items.grid .status p + ol,
.items.grid .status p + .toggle,
.items.grid .status p + form {
	margin-top: 0.5em;
}

.items.grid .status.pending {
	background: var(--color-yellow);
}

.items.grid .status.approved {
	background: var(--color-green);
}

.items.grid .status.issue {
	background: var(--color-red);
}

.items.grid .pending .status.pending,
.items.grid .approved .status.approved,
.items.grid .issue .status.issue {
	display: block;
}

.items.grid .status .messages {
	list-style: none;
	margin-bottom: 1em;
	padding: 0;
	text-align: left;
}

.items.grid .messages {
	border-bottom: 1px solid rgba(255,255,255,0.25);
}

.items.grid .messages li {
	border-top: 1px solid rgba(255,255,255,0.25);
	padding: 0.5em 0;
}

.items.grid .status .meta {
	font-size: smaller;
	text-align: right;
}

.status.approved .messages {
	display: none;
}

.status .button,
.items.grid .status input[type='submit'] {
	background: rgba(255,255,255,0.75);
	border: 0;
}

.status .button[disabled],
.items.grid .status input[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

.status ul li + li {
	margin-top: 1em;
}

.status .toggle.button {
	font-size: 1em;
	line-height: 22px;
}

.status .toggle.button.small {
	font-size: small;
	line-height: 1em;
}

.status .toggle + .messages {
	margin-top: 1em;
}

.items.grid .sort {
	background: #fff;
	border-radius: 0 0 0 2px;
	cursor: help;
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: 0;
}

.items.grid .badges li {
	display: inline-block;
}

.items.grid .badges img {
	max-height: 60px;
	max-width: 80px;
	width: auto;
}

.items.grid .pack-size {
	font-size: 90%;
	text-transform: lowercase;
}

.items.grid .details .sale,
.items.grid .details .savings {
	display: block;
}

.items.grid .details .sale-price {
	font-size: 2em;
	font-weight: bold;
}

.items.grid .details .delete {
	margin-left: 0.5em;
}

.items.grid .perlb,
.items.grid .perea,
.items.grid .size {
	font-size: smaller;
}

.savings {
	color: #fa635d;
}

.items.grid .actions {
	margin: 1em 0;
}

.items.grid .upcs ul {
	margin: 0.5em 0;
}

.items.grid .correction-form {
	display: none;
}

.items.grid .correction-form textarea {
	margin: 1em 0;
}

.labels .items.grid {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Ad Builder */

.item-group-form {
	background: #eee;
	border-radius: 3px;
	bottom: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	display: none;
	left: 0;
	margin: 1em;
	padding: 1em 0.5em 0.5em 0.5em;
	position: fixed;
	z-index: 200;
}

.items.grid > li form.item-group-rename {
	padding: 0.55em 0 0.25em 0;
}

.item-group-rename legend {
	display: block;
	font-size: 0.6em;
}

.item-group-rename .toggle {
	padding-top: 0;
	padding-bottom: 0;
}

.item-group-rename ul {
	display: none;
}

.item-group-rename label {
	text-align: left;
}

.builder .subnav,
.report .subnav {
	background: #fff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
	margin: 0 -20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
}

.builder .subnav li,
.report .subnav li {
	display: inline-block;
}

.builder.publish-0 .items.grid .status {
	display: none;
}

.builder .items.grid figure {
	position: relative;
}

.builder.publish-0 .grid .details {
	margin-bottom: 2em;
}

.builder .items.grid .feature-image-needed figure {
	margin: 0 -0.5em 0.5em -0.5em ;
}

.builder .items.grid .feature-image-needed .watermark-image {
	margin-top: -6px;
}

.builder .items.grid .feature-image-needed .upc-photos img {
	opacity: 0;
}

.builder .items.grid .feature-image-needed figure:after {
	background: var(--color-red);
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	color: #fff;
	content: 'Feature image needed';
	display: block;
	position: absolute;
	text-align: center;
	top: calc(50% - 1rem);
	width: 100%;
	z-index: 200;
}

.features .clear-default {
	background: #ddd;
	border-radius: 3px;
	cursor: not-allowed;
	margin-right: 1em;
	padding: 0.5em 1em;
	text-decoration: none;
	opacity: 0.5;
}

.features .clear-default.active {
	opacity: 1;
}

.features .clear-default.active:hover {
	background-color: var(--color-red);
	color: #fff;
	cursor: pointer;
}

.features .clear-default::before {
	content: '× ';
	font-size: 125%;
	font-weight: bold;
}

.features > .grid {
	border-top: 0;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	margin-top: 20px;
}

.ad-item-group .features > .grid > li {
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	margin: 0;
	padding: 10px;
}

.features .grid .selected {
	border: 1px solid #3084fd;
	box-shadow: 0 0 5px #3084fd;
}

.features > .grid > li > label {
	margin-bottom: 10px;
}

.features .disabled {
	opacity: 0.5;
}

.caption-position {
	position: relative;
}

.caption-position .grid {
	bottom: 0;
	display: block;
	height: 100%;
	padding: 5px;
	position: absolute;
	top: 0;
	width: 100%;
}

.caption-position .grid li {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 31%;
}

.caption-position .grid li label {
	background: rgba(255,255,255, 0.5);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	padding: 10px;
}

.caption-position .grid li label.selected {
	background: #fff;
}

.caption-position .grid li:nth-child(1) {
	top: 10px;
	left: 10px;
}

.caption-position .grid li:nth-child(2) {
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
}

.caption-position .grid li:nth-child(3) {
	top: 10px;
	right: 10px;
}

.caption-position .grid li:nth-child(4) {
	bottom: 10px;
	left: 10px;
}

.caption-position .grid li:nth-child(5) {
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
}

.caption-position .grid li:nth-child(6) {
	bottom: 10px;
	right: 10px;
}

.features > .grid > ul > li {
	text-align: left;
}

.caption-position label img[src*='icon'] {
	display: block;
	margin: 0 0 0.25rem 0;
	max-width: 100%;
	width: 100%;
}

.caption-position + ul {
	text-align: left;
}

.caption-position label {
	display: block;
}

.caption-attributes {
	display: none;
}

.selected .caption-attributes {
	display: block;
}

.features .flex {
	align-items: center;
	display: flex;
	gap: 10px;
	height: calc(100% - 60px);
}

.features .flex > *:first-child {
	width: 66%;
	height: auto;
}

.features .grid .flex img {
	max-height: inherit;
}

.features .flex > *:last-child {
	width: 33%;
}

.features .flex > *:last-child img {
	max-width: 100%;
	width: 100%;
}

.feature-position {
	position: relative;
}

.features .feature-position .mask {
	border: 0;
	box-shadow: none;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.features .feature-position .mask.masked {
	cursor: not-allowed;
	display: block;
	opacity: 0.5;
}

/* Proofs */

.proofs .main > header {
	border-bottom: 1px solid #eee;
}

.proofs .main > header h2 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 0;
}

.proofs .main > header h2 + p {
	margin-top: 0;
}

.proofs .key {
	background: #fff;
	margin-bottom: 1em;
	right: 20px;
	top: 0;
	z-index: 10;
}

.proofs .key h3 {
	font-weight: normal;
	margin: 0;
}

.proofs .key ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.proofs .key li {
	padding: 1em 0;
}

.proofs .key .summary {
	color: #999;
	font-style: italic;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;

}

.proofs section + section {
	border-top: 1px solid #eee;
	margin-top: 3em;
}

.proofs section > header h3 {
	font-size: 1.5em;
	font-weight: normal;
}

.proofs section > header small {
	color: #999;
}

.proofs .ad-listing {
	list-style: none;
	padding: 0;
}

.proofs .ad-listing .ad {
	background: #eee;
	border-radius: 3px;
}

.proofs .ad-listing .ad + .ad {
	margin-top: 2em;
}

.proofs .ad-listing header, 
.proofs .ad-listing .features {
	padding: 0.25em 1em;
}

.proofs .ad-listing .features {
    background: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
	border-radius: 3px 3px 0 0; 
    padding: 1em;
}

.proofs .ad-listing .features h4 {
    margin: 0; 
}

.proofs .ad-listing .features .grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.proofs .ad-listing .features .grid > * {
    margin: 0;
    padding: 0.25em 0;
    border: none;
}

.proofs .ad-listing .features .spot {
    border: 1px solid #ddd;
    border-radius: 20px;
    color: #ddd;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    text-align: center; 
    width: 30px;
}

.proofs .features .spot.approved {
    background: var(--color-green);
    border-color: var(--color-green); 
    color: #fff; 
}

.proofs .features .spot.issue {
	background: var(--color-red);
	border-color: var(--color-red); 
	color: #fff; 
}

.proofs .features .spot.pending {
	background: var(--color-yellow);
	border-color: var(--color-yellow); 
	color: #fff; 
}

.proofs .features .button {
	background: #fff;
	background-image: url('../img/chevron.svg');
	background-repeat: no-repeat;
	background-position: center right 10px; 
	background-size: 10px; 
	border: 1px solid #eee;
	padding-right: 30px;
}

.proofs .features .button:hover {
	background-color: #eee; 
}

.proofs .ad-listing .current-1 {
	background: #3a99fd;
	border-radius: 5px;
	color: #fff;
}

.proofs .ad-listing .current-1 .features {
    color: #000;
}

.proofs .ad-listing .current-1 > .listing, 
.proofs .ad-listing .current-1 .features {
	border-color: #3a99fd;
}

.proofs .ad-listing .current-1 > .listing {
	border-top-color: #eee; 
}

.proofs .ad-listing header > * {
	margin: 0;
}

.proofs .listing {
	background: #fff;
	border: 1px solid #eee;
	border-radius: 0 0 3px 3px;
}

.proofs .listing a > span {
	color: #fff;
	float: right;
	font-size: small;
	margin-top: 2px;
}

.key span,
.proofs .running,
.proofs .listing a > span > span,
.messages .status {
	border-radius: 10px;
	margin-left: 0.25em;
	padding: 0.1em 0.5em;
}

.key span,
.messages .status {
	color: #fff;
	font-size: small;
}

.proofs .running {
	background: #fff;
	color: #3084fd;
	font-size: 13px;
	font-weight: normal;
}

.key .pending,
.proofs .listing .pending,
.messages .status.pending {
	background: var(--color-yellow);
}

.key .issue,
.proofs .listing .issue,
.messages .status.issue {
	background: var(--color-red);
}

.key .approved,
.proofs .listing .approved,
.messages .status.approved {
	background: var(--color-green);
}

.proofs .listing li + li a {
	border-top: 1px solid #eee;
}

.proofs .listing a {
	background: url('../img/chevron.svg') 99% center no-repeat;
	background-size: 10px;
	display: block;
	padding: 1em 2em 1em 1em;
	text-decoration: none;
}

.proofs .listing a:hover {
	background-color: #eee;
}

.proofs .grid > * {

	padding: 0.5em 0.5em 0 0.5em;
}

.proofs .grid .status {
	margin: 0 -8px;
}

.proofs .grid .pending {
	border-color: var(--color-yellow);
}

.proofs .grid .approved {
	border-color: var(--color-green);
}

.proofs .grid .issue {
	border-color: var(--color-red);
}

.proofs .items .feature {
	color: #fff;
}

.proofs .items .approved .feature strong {
	border-color: var(--color-green);
	color: var(--color-green);
}

.proofs .items .approved .feature {
	background: var(--color-green);
}

.proofs .items .issue .feature strong {
	border-color: var(--color-red);
	color: var(--color-red);
}

.proofs .items .issue .feature {
	background: var(--color-red);
}

.proofs .items .pending .feature strong {
	border-color: var(--color-yellow);
	color: var(--color-yellow);
}

.proofs .items .pending .feature {
	background: var(--color-yellow);
}

.proofs .upcs {
	padding: 0.5em 0;
}

.proofs .description {
	text-align: left;description
}

.proofs .approved p + .toggle {
	margin-bottom: 1em;
}

.proofs .approved p + .toggle + .messages {
	margin-top: 0;
}

/* Secret Specials */

.not-set {
    opacity: 0.25;
}

.secret-specials .listing .ad-date {
	min-width: 180px;
}

.secret-specials .listing th .status {
	background: #ccc;
	border-radius: 20px;
	color: #fff;
	display: inline-block;
	font-size: 10px;
	font-weight: normal;
	height: 21px;
	line-height: 21px;
	padding: 0 5px;
	text-transform: none;
}

.secret-specials th .status.draft {
	background-color: var(--color-orange);
}

.secret-specials th .status.scheduled {
	background-color: var(--color-green);
}

.secret-specials th .status.sent {
	background-color: var(--color-blue);
}

.secret-specials .listing .email-statuses {
	min-width: 200px;
}

.secret-specials .lifestyle-icons img, 
.ads.detail .secret-special .lifestyle-icons img {
	max-width: 100px;
}

.secret-specials .grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1.5em;
}

.secret-specials .grid h2 {
    margin: 0;
}

.secret-specials fieldset .grid > * > ul {
    text-align: left;
}

.secret-specials .email-status {
	text-align: center;
}

.secret-specials .stats-panel h4 {
	font-size: 1.5rem;
}

.secret-specials .stats-panel h4, 
.secret-specials .stats-panel p {
	margin: 0;
}

.secret-specials .stats-panel p small {
	color: #999;
	display: block;
}

.secret-specials .stats-panel {
	border: 1px solid #ddd;
	border-radius: 3px;
	display: flex;
	gap: 50px;
	justify-content: space-between;
	padding: 2rem;
}

.secret-specials .stats-panel.delivery {
	align-items: center;
}

.secret-specials .stats-panel.engagement > *:first-child {
	flex-grow: 2;
}

.secret-specials .stats-panel.delivery, 
.secret-specials .stats-panel.reactions {
	gap: 2rem;
	justify-content: space-evenly;
	text-align: center;
}

.secret-specials .stats-panel.delivery {
	text-align: left;
}

.secret-specials .stats-panel .pie-chart {
	height: 150px;
	margin: 0;
	width: 150px;
}

.secret-specials .stats-panel .delivered, 
.secret-specials .stats-panel .bounced,
.secret-specials .stats-panel .opens, 
.secret-specials .stats-panel .clicks {
	position: relative;
}

.secret-specials .stats-panel .delivered h4:before, 
.secret-specials .stats-panel .bounced h4:before,
.secret-specials .stats-panel .opens h4:before, 
.secret-specials .stats-panel .clicks h4:before {
	color: var(--color-blue);
	content: "•";
	font-size: 60px;
	position: absolute;
	top: -23px;
	left: -25px;
}

.secret-specials .stats-panel .clicks h4:before {
	color: var(--color-green);
}

.secret-specials .stats-panel .delivered h4:before {
	color: var(--color-yellow);
}

.secret-specials .stats-panel .bounced h4:before {
	color: var(--color-red);
}

.email-status .timeline {
	display: flex;
	list-style: none;
	font-size: small;
	gap: 5px;
	margin: 30px 0 20px 0;
	padding: 0;
	position: relative;
}

fieldset .email-status table {
	font-size: 1em;
}

.email-status .timeline .status {
	background: #fff;
	flex: 1 1 0;
	height: 10px;
	position: relative;
}

.email-status .timeline .milestone {
	color: #000;
	display: block;
	position: absolute;
	top: -30px;
	width: 100%;
}

.email-status .timeline .status:first-child {
	border-radius: 10px 0 0 10px;
}

.email-status .timeline .status:last-child {
	border-radius: 0 10px 10px 0;
}

.email-status .timeline.draft .draft, 
.email-status .timeline.scheduled .draft, 
.email-status .timeline.sent .draft {
	background: var(--color-yellow);
}

.email-status .timeline.scheduled .scheduled, 
.email-status .timeline.sent .scheduled {
	background: var(--color-green);
}

.email-status .timeline.sent .sent {
	background: var(--color-blue);
}

.email-status .message {
	color: #000;
	cursor: inherit;
	display: block;
	margin: 0;
	text-align: center;
}

.email-status .schedule {
	background: var(--color-green);
	border: 0;
	color: #fff;
}

.secret-specials .articles-and-recipes {
    border: 1px solid #ddd;
    border-width: 1px 0;
    margin: 2em 0;
    padding: 10px 10px 1px 10px;
}

.articles-and-recipes div + div {
    border-top: 1px solid #ddd;
}

.ads.detail .articles-and-recipes div + div {
	border-color: #eee;
}

.secret-specials .scheduled a,
.secret-specials .draft a {
    display: inline-block;
}

.secret-specials .zoned {
	background: var(--color-red);
	color: #fff;
	font-size: small;
	padding: 0.15em 0.5em;
	border-radius: 20px;
}

.secret-specials .zoned-item-settings img {
	width: 100px;
	vertical-align: middle;
}

.secret-specials .zoned-item-settings li * {
	margin: 0;
}

.secret-specials .zoned-item-settings li {
	display: flex;
	gap: 20px;
}

.secret-specials .zoned-item-settings section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Ad Report */

.report .main {
	padding: 0;
}

.report .subnav {
	margin: 0 0;
}

.report .main > h1 {
	padding: 0 10px;
	text-align: center;
}

.report section > header {
	margin: auto;
	max-width: 1024px;
	padding: 0 20px;
}

.report section > header nav {
	right: 20px;
}

.subnav h4 {
	padding-left: 20px;
}

.report .is-sticky .subnav {
	max-width: inherit;
}

.report .group {
	width: 20%;
}

.report .items {
	width: 45%;
}

.report .items .size {
	width: 15%;
}

.report .pricing {
	border-left: 1px solid #ccc;
	width: 10%;
}

.report thead tr:first-child th {
	color: #fff;
	font-size: 2em;
	text-align: center;
}

.report thead th {
	background: #ccc;
}

.report td {
	vertical-align: top;
}

.report td ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.report td .badges li {
	display: inline;
}

.report td .badges img {
	max-height: 50px;
	max-width: 50px;
	width: inherit;
}

.report td .upcs img {
	max-height: 50px;
	max-width: 50px;
}

.report td .upcs li {
	display: flex;
	padding-bottom: 0.5em;
}

.report td .upcs li + li {
	border-top: 1px solid #ddd;
	padding-top: 0.5em;
}

.report td .upcs li > *:first-child {
	flex: 0 0 60px;
	text-align: center;
}

.report td .upcs li > *:last-child {
	flex: 3 1 auto;
}

.report td .upcs a {
	font-size: small;
	padding: 0.25em 0.5em;
}

.report .pack-size {
	text-transform: lowercase;
}

.ad-listing {
	list-style: none;
	padding: 0;
}

.ads .ad-listing > li {
	border: 5px solid #ddd;
	border-radius: 10px;
	margin-bottom: 40px;
	padding: 10px;
}

.ads .ad-listing > li.running {
	border-color: var(--color-blue);
}

.ads .ad-listing h2 {
	background: #ddd;
	margin: -10px -10px 10px -10px;
	padding: 10px;
}

.ad-listing .running h2 {
	color: #fff;
	background: var(--color-blue);
}

.ad-listing h2 small {
	color: #333;
	font-size: 0.62em;
	font-style: italic;
	font-weight: normal;
}

.ad-listing .running h2 small {
	color: #fff;
}

.ad-listing .timeline {
	display: flex;
	list-style: none;
	margin: 60px 0;
	padding: 0;
	position: relative;
}

.ad-listing .timeline li:first-child {
	border-radius: 10px 0 0 10px;
}

.ad-listing .timeline li:last-child {
	border-radius: 0 10px 10px 0;
}

.ad-listing .timeline .milestone, 
.ad-listing .timeline .date {
	display: block;
	position: absolute;
	width: 100%;
}

.ad-listing .timeline .milestone {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	top: -50px;
}

.ad-listing .timeline .date {
	bottom: -30px;
}

.ad-listing .timeline .day {
	background: #eee;
	border: 1px solid #fff;
	flex: 1 1 0;
	font-size: 0.8em;
	height: 10px;
	line-height: 1.2em;
	text-align: center;
	position: relative;
}

.ad-listing .timeline .day.today.start_build .milestone, 
.ad-listing .timeline .day.today.start_build .today, 
.ad-listing .timeline .day.today.start_build .date {
	text-align: center;
}

.ad-listing .timeline .day.today.start_build .date {
	margin-left: -25px;
}

.ad-listing .timeline .day.past .milestone,
.ad-listing .timeline .day.past .date {
	color: #ccc;
}

.ad-listing .timeline .day .today, 
.ad-listing .timeline.live .live:after {
	background: #666;
	border: 1px solid #fff;
	border-radius: 20px;
	color: #fff;
	display: block;
	padding: 10px 12px;
	margin: -7px -2px 0 -2px;
	line-height: 0;
	position: relative;
	z-index: 100;
}

.ad-listing .timeline .day.today .milestone {
	border-radius: 25px;
	color: #fff;
	margin-left: -25px;
	margin-top: -5px;
	padding: 3px 5px;
	width: calc(100% + 50px);
}

.ad-listing .timeline .day.today .milestone:after {
	border: 10px solid transparent;
	bottom: -20px;
	content: '';
	display: block;
	height: 0;
	left: calc(50% - 10px);
	position: absolute;
	width: 0;
}

.ad-listing .timeline.live .live:after {
	background: var(--color-blue);
	content: 'Live!';
	margin-top: -22px;
	text-align: center;
}

.ad-listing .timeline .day.today .milestone, 
.ad-listing .timeline .day.today .date {
	font-weight: bold;
}

.ad-listing .timeline .today .milestone {
	z-index: 200;
}

.ad-listing .timeline .start_build, 
.timeline .today.start_build .milestone, 
.timeline.start_build .today .today, 
.timeline.start_build .past, 
.timeline .today.start_build .today, 
.ad-listing .timeline .shoot_products, 
.timeline .today.shoot_products .milestone, 
.timeline.shoot_products .today .today, 
.timeline.shoot_products .past, 
.timeline .today.shoot_products .today, 
.timeline.shoot_products .past {
	background: var(--color-red);
}

.ad-listing .timeline .today.start_build .milestone:after, 
.ad-listing .timeline .today.shoot_products .milestone:after {
	border-top-color: var(--color-red);
}

.ad-listing .timeline .start_proofing, 
.timeline .today.start_proofing .milestone, 
.timeline.start_proofing .today .today, 
.timeline.start_proofing .past {
	background: var(--color-orange);
}

.ad-listing .timeline .today.start_proofing .milestone:after {
	border-top-color: var(--color-orange);
}

.ad-listing .timeline .finish_ad_copy, 
.timeline .today.finish_ad_copy .milestone, 
.timeline.finish_ad_copy .today .today, 
.timeline.finish_ad_copy .past {
	background: var(--color-light-orange);
}

.ad-listing .timeline .today.finish_ad_copy .milestone:after {
	border-top-color: var(--color-light-orange);
}

.ad-listing .timeline .send_email_proof, 
.timeline .today.send_email_proof .milestone, 
.timeline.send_email_proof .today .today, 
.timeline.send_email_proof .past {
	background: var(--color-light-yellow);
}

.ad-listing .timeline .today.send_email_proof .milestone {
	margin-left: -35px;
	width: 130px;
}

.ad-listing .timeline .today.send_email_proof .milestone:after {
	border-top-color: var(--color-light-yellow);
}

.ad-listing .timeline .today.send_email_proof .milestone, 
.timeline.send_email_proof .today .today {
	color: rgba(0,0,0,0.5);
}

.ad-listing .timeline .schedule_email, 
.timeline .today.schedule_email .milestone, 
.timeline.schedule_email .today .today, 
.timeline.schedule_email .past {
	background: var(--color-green);
}

.ad-listing .timeline .today.schedule_email .milestone:after {
	border-top-color: var(--color-green);
}

.ad-listing .timeline .live, 
.timeline .today.live .milestone, 
.timeline.live .today .today, 
.timeline.live .past {
	background: var(--color-blue);
}

.ad-listing .timeline .live.today .milestone {
	display: none;
}

.ad-listing .zones, 
.ad-listing .zones .updated {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.ad-listing .zones .updated {
	grid-template-columns: 5fr 5fr 1fr;
}

.ad-listing .zone {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px 10px 10px 30px;
	position: relative;
}

.ad-listing .zone .status {
	color: #999;
	font-size: 130%;
	left: 10px;
	position: absolute;
	text-decoration: none;
	top: 10px;
}

.ad-listing .zone .status.active {
	color: var(--color-green);
}

.ad-listing .zone .status.active:hover {
	color: var(--color-red);
}

.ad-listing .zone h3 {
	margin: 0;
	font-size: 130%;
}

.ad-listing .zones .updated dl {
	margin-bottom: 0;
	padding-left: 30px;
	position: relative;
}

.ad-listing .zone .button {
	background: none;
	border: 0;
	padding: 0;
	position: absolute;
}

.ad-listing .zone .updated .button {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-left: -42px;
	margin-top: -17px;
	padding: 5px;
	width: 36px;
	height: 36px;
}

.ad-listing .zone .updated .button:hover {
	border-color: #999;
}

.ad-listing .zone .button.import {
	content: url('../img/import.svg');
}

.ad-listing .zone .button.refresh {
	content: url('../img/refresh.svg');
}

.ad-listing .zone .button.preview, 
.ad-listing .zone .button.build {
	background: #ddd;
	border-radius: 3px;
	right: 10px;
}

.ad-listing .zone .button.preview {
	content: url('../img/preview.svg');
	top: 10px;
}

.ad-listing .zone .button.build {
	content: url('../img/build.svg');
	bottom: 10px;
}

.ads.detail .subnav {
	margin-top: -80px;
}

.ads.detail .button.build, 
.ads.detail .button.preview {
	padding-left: 40px;
	position: relative;
}

.ads.detail .button.build::before {
	content: url('../img/build.svg');
	position: absolute;
	left: 0;
	top: -2px;
}

.ads.detail .button.preview::before {
	content: url('../img/preview.svg');
	position: absolute;
	left: 0;
	top: -2px;
}

.ads.detail .secret-special {
	border: 5px solid #ddd;
	border-radius: 20px;
	margin: 4em 0;
	padding: 20px;
}

.ads.detail .secret-special h2 {
	background: #ddd;
	margin: -20px -20px 20px -20px;
	padding: 5px 20px 10px 20px;
}

/* Banners */

.banners .listing li {
	border-top: 1px solid #eee;
}


/* Configuration */

body.ad-item-config .actions {
	background: #ddd;
	background: linear-gradient(to bottom, rgb(221, 221, 221), rgb(255, 255, 255));
}

/* Login */

.login section.login {
	margin-top: 2em;
}

.login .profile-mom {
	margin-bottom: 0.25em;
	vertical-align: middle;
	width: 40px;
}

/* Dashboard */

.dashboard .messages time,
.ad-item-group.instances .messages time{
	color: #666;
	display: inline-block;
	font-size: small;
}

.dashboard .messages .ad-name {
	color: #666;
}

.dashboard .messages .thread + .thread {
	margin-top: 2em;
}

.dashboard .messages .thread,
.ad-item-group.instances .thread {
	border: 1px solid #ccc;
	border-radius: 5px;
	border-width: 3px;
	padding: 0.25em;
}

.dashboard .messages .thread.status-issue,
.ad-item-group.instances .thread.status-issue {
	border-color: #fa635d;
}

.dashboard .messages .thread.status-pending,
.ad-item-group.instances .thread.status-pending {
	border-color: #fdbd41;
}

.dashboard .messages .thread.status-approved,
.ad-item-group.instances .thread.status-approved {
	border-color: #29c231;
}

.dashboard .messages .thread.status-approved .dismiss {
	animation: pulse 2s infinite;
}

.dashboard .messages .thread.status-approved .dismiss:hover {
	animation: none;
}

@keyframes pulse {
	0% {
		background-color: #eee;
	}
	50% {
		background-color: #ccc;
	}
	100% {
		background-color: #eee;
	}
}

.dashboard .messages > li + li {
	margin-top: 1em;
}

.dashboard .messages li {
	position: relative;
}

.dashboard .thread .listing li,
.ad-item-group.instances .thread li {
	padding: 1em;
}

.dashboard .thread li {
    display: flex;
	justify-content: space-between;
}

.dashboard .thread li.reply:hover,
.dashboard .thread li.reply:hover li {
	background: transparent;
}

.dashboard .thread li.reply,
.dashboard .thread li.reply li {
	display: block;
}

.dashboard .thread li.reply ul {
	padding: 0;
	margin: 0;
}

.dashboard .thread li.reply ul li {
	padding: 1em 0;
}

.dashboard .thread li.reply .radioer li {
	line-height: 40px;
	padding: 0 1em 1em 1em;
}

.ad-item-group.instances li.reply li {
	padding: 0;
}

.ad-item-group.instances li.reply .radioer {
	border-top: 0;
}


.ad-item-group.instances .thread li {
    margin-top: 0;
}

.dashboard .thread li:hover {
	background: #efefef;
}

.dashboard .thread div + div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.dashboard .thread li + li,
.ad-item-group.instances .thread li + li {
	border-top: 1px solid #eee;
}

.messages .dismiss {
	background: #eee;
	border: 0;
}

.dashboard .thread li:hover .dismiss {
	background: #ddd;
}

.dashboard .thread li:hover .dismiss:hover {
	background: #fa635d;
	color: #fff;
}

@media only screen and (max-width: 1600px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 1400px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 1200px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


@media only screen and (max-width: 800px) {
	.grid, 
	.secret-specials .grid {
		grid-template-columns: 1fr 1fr;
	}
	
	.ad-listing .zones {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 750px) {

	body,
	.mobile-header {
		display: block;
	}

	body {
		background-image: none;
	}

	main {
		margin-left: 0;
	}
	
	.upc-images {
		display: none;
	}

	.mobile-header {
		background: #222;
		padding: 0.5em;
		text-align: center;
	}

	.mobile-header img {
		width: 150px;
	}

	.mobile-header a {
		color: #fff;
		display: block;
		height: 46px;
		line-height: 46px;
		position: absolute;
		text-decoration: none;
		top: 0.5em;
		left: 1em;
	}

	.mobile-header a img {
		width: 20px;
	}

	.main-nav {
		border-radius: 0 0 10px 0;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		left: -240px;
		height: inherit;
		font-size: 110%;
		position: absolute;
		top: 0;
		z-index: 100;
	}

	.main-nav .logo {
		display: none;
	}

	.main-nav .close {
		display: block;
		font-size: 2em;
		text-align: right;
	}

	.main-nav .close a {
		padding: 0 0.5em 0 0;
	}

	.main-nav .profile {
		border-radius: 0 0 10px 0;
		left: 0;
		padding: 1em;
		position: relative;
		top: 0;
	}

	.main-nav .profile > a {
		flex: 0 0 auto;
	}

	.main-nav .profile > ul {
		flex: 2 2 auto;
	}

	.main-nav .profile .logout,
	.main-nav .profile .logout a {
		display: block;
		height: 100%;
		text-align: center;
	}

	.main-nav .profile .logout a {
		border: 1px solid #333;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-decoration: none;
	}

	.main-nav .profile .edit-profile {
		display: none;
	}

	.dashboard .thread li {
		display: block;
	}

	.dashboard .thread div + div {
		display: block;
		text-align: right;
	}
	
	input[type="file"].jpgs, 
	input[type="file"].jpg, 
	input[type="file"].pdf {
		width: calc(100% - 70px);
	}
	
	.secret-specials .grid {
		display: block;
	}

	.ads.detail .subnav,
	.ads.detail .sister-ads {
		margin: 0;
		width: inherit;
	}

	select.large {
		width: 100%;
	}
	
	nav.sister-ads {
		width: 200px;
	}
	
	nav.sister-ads h3 {
		font-size: 16px;
	}
	
	.menu.next-prev-ads {
		max-width: 400px;
	}

}

@media only screen and (max-width: 414px) {

	body > header {
		padding-top: 60px;
	}

	body > header img {
		width: 120px;
	}

	body > header nav {
		align-items: flex-start;
	}

	body > header ul {
		padding-right: 0;
	}

	body > header li {
		margin-bottom: inherit;
	}

	.profile {
		display: flex;
		height: inherit;
		left: 15px;
		margin: 0;
		right: inherit;
		text-align: left;
		top: 10px;
		width: 300px;
	}

	.profile ul {
		background: transparent;
		box-shadow: none;
		display: block;
		margin: 0;
		right: inherit;
		text-align: left;
		top: 0;
		position: inherit;

	}

	.profile li {
		display: inline-block;
	}

	.avatar {
		width: 40px;
	}

	input {
		padding: 0.5em;
	}

	form .actions {
		padding: 20px;
	}

	.ads .listing th:nth-child(2),
	.ads .listing td:nth-child(2) {
		display: none;
	}

	.listing .button {
		display: block;
		margin-bottom: 1em;
	}

	.dashboard .thread .listing .button {
		display: inline-block;
		margin-bottom: 0;
	}

	.grid {
		grid-template-columns: 1fr;
	}

	.media-browser {
		margin: 0;
		height: 100%;
		width: 100%;
	}
	
	.menu.next-prev-ads > a {
		width: 40px;
	}
	
	nav .next-prev-ads .label {
		display: none;
	}

}


@media only screen and (max-width: 374px) {

	table th + th + th,
	table td + td + td {
		display: none;
	}

}

@media only screen and (max-width: 29em) {

}
