body.ws-email {
	font-size: 0.7em;
}

.ws-page img {
	filter: saturate(0);
}

.ws-page > .ws-header .ws-logo img {
	width: 150px;
}

.ws-page .ws-email-link, 
.ws-page .ws-header h1, 
.ws-page .ws-header .ws-duration, 
.ws-page .ws-printer-friendly, 
.ws-page .ws-hot-items, 
.ws-page .ws-editorial, 
.ws-page .ws-preferences, 
.ws-page .ws-prices-valid, 
.ws-page .ws-tip, 
.ws-page .ws-secret-special .ws-logo-container,
.ws-page > .ws-footer {
	display: none;
}

.ws-page .ws-header {
	border: 0;
	padding: 0.5em 0;
}

.ws-page .ws-container .ws-header {
	background: transparent;
	border: 0;
	color: #000;
}

.ws-page .ws-container > .ws-header + * {
	padding-top: 40px;
}

.ws-page .ws-secret-special .ws-date {
	color: #000;
	height: inherit;
	padding: 0;
	text-align: center;
}

.ws-page .ws-secret-special {
	box-shadow: none;
	margin: 0 auto;
}

.ws-page .ws-secret-special .ws-image img {
	display: block;
	margin: auto;
	width: 200px;
}

.ws-page .ws-secret-special .ws-sale-price {
	background: transparent;
	border: 1px solid #000;
	color: #000;
}

.ws-page .ws-secret-special .ws-body {
	background: transparent;
}

.ws-page .ws-secret-special .ws-barcode {
	border-bottom: 0;
}

.ws-page .ws-secret-special .ws-barcode img:first-child {
	display: block;
	margin: auto;
	width: 200px;
}

.ws-page .ws-disclaimer, 
.ws-page .ws-address {
	font-size: 0.9em;
}
