body.ws-email {
	background: #fff;
	color: #000;
	font: 1em/1.4 "Helvetica Neue", "Helvetica", "Roboto", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100% !important;
	margin: 0;
	padding: 0;
	width: 100% !important;
}

body.ws-email table {
	width: 100%;
}

body.ws-email table, 
body.ws-email table tbody,
body.ws-email table tr, 
body.ws-email table td {
	border-collapse: collapse;
	border-width: 0;
	border-color: #000;
	padding: 0;
	
}

.ws-page {
	background: #fff;
	color: #000;
	font-size: 0.95em;
	line-height: 1.4;
}

.ws-page img {
	margin: 0;
	max-width: 100%;
	padding: 0;
	vertical-align: middle;
}

.ws-email .ws-page a {
	color: #000;
}

.ws-page .ws-preview-text {
	height: 0;
	margin: 0;
	overflow: hidden;
	opacity: 0;
	text-indent: -9999em;
}

.ws-page .ws-email-link {
	font-size: smaller;
}

.ws-page .ws-logo img {
	width: 200px;
}

.ws-page > .ws-header {
	background-position: bottom center;
	border-bottom: 6px double #000;
	text-align: center;
}

.ws-page > .ws-header td {
	padding-bottom: 10px;
}

.ws-page .ws-footer {
	background: #000;
	border-top: 6px double #fff;
	color: #fff;
	margin-top: 40px;
	padding: 1em 0 2em 0;
	text-align: center;
}

.ws-page .ws-container {
	margin: auto;
	max-width: 340px;
	margin: 0 auto;
	padding: 0 20px;
}

.ws-page .ws-container + .ws-container {
	border-top: 6px double #000;
}

.ws-page .ws-prepended-message td {
	padding-bottom: 0.5em;
}

.ws-page .ws-secret-special {
	box-shadow: 0 5px 10px rgba(0,0,0,0.15);
	margin: 40px 0;
}

.ws-page .ws-secret-special .ws-header {
	background: #000;
}

.ws-page .ws-secret-special .ws-logo-container {
	width: 150px;
}

.ws-page .ws-secret-special .ws-date {
	color: #fff;
	height: 80px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	vertical-align: bottom;
} 

.ws-page .ws-secret-special .ws-body, 
.ws-page .ws-secret-special .ws-printer-friendly {
	background: #fdda81 linear-gradient(145deg, #fdda81, #c3a35e);
	text-align: center;
}

.ws-page .ws-secret-special .ws-body td, 
.ws-page .ws-secret-special .ws-printer-friendly td {
	padding: 10px 20px;
}

.ws-page .ws-secret-special .ws-sale-price {
	background: #000;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 2.75em;
	margin-bottom: 0.15em;
	padding: 0.05em 0.25em;
}

.ws-page .ws-secret-special .ws-sale-price .crv {
	font-size: 50%;
}

.ws-page .ws-secret-special .ws-body .ws-description {
	text-align: left;
}

.ws-page .ws-secret-special .ws-body .ws-fineprint {
	font-size: 0.85em;
	text-align: left;
}

.ws-page .ws-secret-special .ws-barcode {
	background: #fff;
	border: 1px solid #000;
	border-width: 1px 0;
	margin: 1em -20px;
	padding: 1em 20px 0.5em 20px;
	text-align: center;
}

.ws-page .ws-truckload {
	font-weight: bold;
	text-align: center;
}

.ws-email .ws-page .ws-button {
	background: #000;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em 1em;
	text-decoration: none;
}

.ws-page .ws-item {
	margin-top: 20px;
	text-align: center;
}

.ws-page .ws-item + .ws-item {
	border-top: 6px double #000;
}

.ws-page .ws-item .ws-image td:first-child {
	padding-top: 30px;
}

.ws-page .ws-item .ws-image img {
	border-radius: 15px;
	max-height: 227px;
}

.ws-page .ws-editorial .ws-item .ws-image img {
	max-height: inherit;
}

.ws-page .ws-item .ws-label {
	max-height: 80px;
	max-width: 80px;
}

.ws-page .ws-item-name {
	font-size: 1.75em;
}

.ws-page .ws-item-container {
	font-size: 1.25em;
	margin: 0 0 0.5em 0;
}

.ws-page .ws-description {
	text-align: left;
}

.ws-page .ws-hot-items .ws-header td {
	background: #d1353b url('../img/weekly-specials-square-red-white-black.svg') top center repeat-x;
	background-size: 15px;
	color: #fff;
	padding-top: 20px;
	text-align: center;
}

.ws-page .ws-header h1 {
	background: #d1353b url('../img/weekly-specials-square-red-white-black.png') bottom center repeat-x;
	background-size: 15px;
	margin: 0;
	padding-bottom: 0.75em;
}

.ws-page .ws-hot-items .ws-header img {
	width: 300px;
}

.ws-page .ws-header .ws-prices-effective {
	background: #000;
	color: #fff;
	margin: 0;
	padding: 0.5em 0;
}

.ws-page .ws-item .ws-sale-price {
	background: none;
	color: #cd383f;
	font-size: 2em;
	font-weight: bold;
}

.ws-page .ws-item .ws-save {
	margin: 0;
	font-weight: bold;
}

.ws-page .ws-item .ws-size {
	text-transform: lowercase;
}

.ws-page .ws-item .ws-description .button {
	background: #ddd;
	border-radius: 2px;
	text-decoration: none;
	padding: 0.25em 0.5em;
} 

.ws-page .ws-view-all {
	text-align: center;
}

.ws-page .ws-view-all .ws-button {
	font-size: 1.75em;
}

.ws-page .ws-view-all .ws-download-print .ws-button {
	font-size: 1.25em;
}

.ws-page .ws-editorial .ws-header td {
	background: #000 url('../img/weekly-specials-square-black-white-red.png') top center repeat-x;
	background-size: 15px;
	color: #fff;
	padding-top: 40px;
	text-align: center;
}

.ws-page .ws-editorial .ws-header h2 {
	border-top: 6px double #000;
	font-size: 2em;
	padding-top: 0.5em;
}

.ws-page .ws-editorial .ws-header h2, 
.ws-page .ws-editorial .ws-header p {
	background: #fff;
	color: #000;
	margin: 0
}

.ws-page .ws-editorial .ws-item {
	text-align: left;
}

.ws-page .ws-disclaimer {
	font-size: small;
	text-align: left;
}

.ws-page .ws-footer a {
	color: #fff;
}

.ws-page .ws-footer .ws-logo img {
	margin-bottom: 2em;
	width: 100px;
}

.ws-page .ws-prefix, 
.ws-page .ws-item-name, 
.ws-page .ws-suffix, 
.ws-page .ws-sale-price, 
.ws-page .ws-selected-varieties, 
.ws-page .ws-size, 
.ws-page .ws-retail-price {
	margin: 0;
}

.ws-page .ws-sale-price .cent, 
.ws-page .ws-sale-price .perlb, 
.ws-page .ws-sale-price .perea {
	font-size: smaller;
}
