@font-face {
    font-family: 'Roboto';
    src: url('../type/Roboto-Bold-webfont.eot');
    src: url('../type/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../type/Roboto-Bold-webfont.woff') format('woff'),
         url('../type/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../type/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../type/RobotoCondensed-Bold-webfont.eot');
    src: url('../type/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/RobotoCondensed-Bold-webfont.woff2') format('woff2'),
         url('../type/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('../type/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('../type/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../type/RobotoCondensed-Regular-webfont.eot');
    src: url('../type/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/RobotoCondensed-Regular-webfont.woff2') format('woff2'),
         url('../type/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../type/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../type/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font: 13px/1.5em 'Roboto', Helvetica, Arial, sans-serif;
}

strong, .description, h2, th {
	font-family: 'Roboto';
	font-weight: bold;
}

.adgrid th, h2 {
	text-transform: uppercase;
}

.adgrid h2 {
	font-size: 1.15em;
	font-weight: normal;
}

.adgrid table th,
.adgrid small {
	font-family: 'Roboto';
	font-size: 1em;
	font-weight: normal;
}
.adgrid table td {
	font: bolder 1.5em 'Roboto';
}

.adgrid table th, .adgrid table td {
	text-align: center;
}

h2 {
	margin: 0;
}

.description {
	font-size: 1.75em;
	line-height: 1.25em;
	padding: 0.5em 0 1em 0;
}

.description p {
	margin: 0.5em 0 0.25em 0;
}

.main {
	margin: auto;
	width: 8.5in;
}

.section {
	border: 1px dashed #ccc;
	height: 2.85in;
	overflow: hidden;
	padding: 0.15in;
	width: 8.5in;
}

.section + .section {
	border-top: 0;
}

.logo, .grid {
	text-align: right;
}

.logo.sonoma-market img {
	width: 210px;
}

th, td {
	vertical-align: top;
}

img[alt='nugget_markets'] {
	width: 150px;
}

.adgrid {
    float: right;
	text-align: left;
}

.adgrid td {
	vertical-align: bottom;
}

.date p, .apology p {
	margin: 0;
}

.apology {
	vertical-align: bottom;
}

.starts {
	border-right: 1px solid #ccc;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 1.1em;
	line-height: 1.1em;
	text-align: right;
	padding-bottom: 4px;
	padding-right: 10px;
	vertical-align: bottom;
	width: 0.75in;
}

.effective {
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	width: 3in;
}

table table table {
	width: 100%;
}
