body {
	font: 1em/1.4 "Helvetica Neue", "Helvetica", "Roboto", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1 {
	text-align: center;
}

h2 {
	padding-top: 80px;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: #000;
}

.menu.sister-ads a {
	margin: 0;
}

h2 a {
	font-size: 0.5em;
	font-weight: normal;
}

h2 a:hover,
nav a:hover {
	background: #000;
	color: #fff;
}

.grid,
.badges {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.grid > * {
	background: #fff;
	border: 5px solid #eee;
	border-radius: 3px;
	flex: 0 0 24%;
	margin: 0.25em;
	min-width: 200px;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	text-align: center;
}

.grid .upc-photos,
.grid .upc-photos img {
	max-height: 142px;
}

.grid .upc-photos {
	overflow: auto;
	text-align: center;
}

.badges {
	text-align: left;
}

.badges li {
	display: inline;
}

.badges img {
	max-height: 60px;
	max-width: 100px;
}

.badges li + .lifestyle {
	margin-left: -8px;
}

.prefix,
.name,
.suffix,
.pack-size,
.selected-varieties,
.sale-price,
.savings {
	margin: 0;
}

.pack-size {
	font-size: 90%;
	text-transform: lowercase;
}

.sale-price {
	font-size: 2em;
	font-weight: bold;
}

.sale-price .perea,
.sale-price .perlb,
.sale-price .crv {
	font-size: 70%;
}

.savings {
	color: red;
}

.upcs {
	border-top: 1px solid #eee;
	margin-top: 0.5em;
	padding: 0.5em 0;
}

.upcs ul {
	display: none;
	list-style: none;
	font-size: small;
	margin-top: 1em;
	padding: 0;
	text-align: left;
}

.upcs li {
	padding: 0.25em;
}

.upcs li + li {
	border-top: 1px solid #eee;
}

.button {
	background: #ddd;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	padding: 0.25em 1em;
	text-decoration: none;
}

.button.small,
.toggle.button {
	font-size: small;
}

.toggle.button:before,
.toggle.toggled.button:before {
	font-size: 0.5em;
	display: inline-block;
	vertical-align: text-top;
}

.toggle.button:before {
	content: '\25B6';
	margin: 3px 5px 0 0;
}

.toggle.toggled.button:before {
	content: '\25BC';
	margin: 3px 5px 0 -1px;
}
