<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Nugget Markets E-Ad Item Notification</title>
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="email.css" />
	</head>
	<body class="nugget">
		<table cellspacing="0" cellpadding="0" border="0" width="100%" class="nugget-page">
		<tr>
		<td>
			<table cellspacing="0" cellpadding="10" border="0" width="100%" bgcolor="#F0F5F4" class="nugget-container nugget-header">
			<tr>
			<td>
				<img src="e-ad-builder.png" width="260" alt="Nugget Markets E-Ad Builder" />
			</td>
			</tr>
			</table>

			<table cellspacing="0" cellpadding="10" border="0" width="100%" class="nugget-container nugget-body">
			
			<tr>
			<td class="nugget-notification">

				<h1>E-Ad Preview Links</h1>
				<p>Hi Grocery Managers,</p>
				<p>E-Ads for the week starting <strong>{{ display_date }}</strong> are ready for you to review. Click the link for your store to see the items, and plan accordingly.</p>
				<ul>
					<li><a href="https://www.nuggetmarket.com/specials/date/{{ ad_date }}/">Nugget Markets</a></li>
					<li><a href="https://sonomamarket.net/specials/date/{{ ad_date }}/">Sonoma Market</a></li>
					<li><a href="https://forkliftgrocery.com/specials/date/{{ ad_date }}/">Fork Lift</a></li>
					<li><a href="https://f4lwoodland.com/specials/date/{{ ad_date }}/">Food 4 Less Woodland</a></li>
				</ul>			
			</td>
			</tr>
			</table>

			<table cellspacing="0" cellpadding="10" border="0" width="100%" bgcolor="#F0F5F4" class="nugget-container nugget-footer">
			<tr>
			<td class="nugget-address">
				<h4>Nugget Market, Inc.</h4>
				<div>311 Mace Boulevard<br />
				Davis, CA 95618<br />
				(530) 399-3300</div>
				<p class="nugget-copyright">Copyright &copy; <currentyear> Nugget&nbsp;Market,&nbsp;Inc.</p>
			</td>
			</tr>
			</table>
		</td>
		</tr>
		</table>
	</body>
</html>
