.nugget .nugget-page {
	font: 1em/1.5 "Helvetica Neue", "Helvetica", "Roboto", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #222;
}

.nugget .nugget-page .nugget-container td {
	padding: 10px;
}

.nugget .nugget-page .nugget-header,
.nugget .nugget-page .nugget-footer {
	background: #222;
	color: #fff;
	text-align: center;
}

.nugget .nugget-page .nugget-body {
	margin: 0 auto;
	max-width: 600px;
	min-width: 320px;
}

.nugget .nugget-page .nugget-body h1 {
	color: #222;
}

.nugget .nugget-page .nugget-body h2 {
	margin-bottom: 0;
}

.nugget .nugget-page .nugget-body h2 + p {
	color: #999;
	margin-top: 0;
}

.nugget .nugget-page .nugget-body blockquote {
	font-style: italic;
}

.nugget .nugget-page .nugget-body a {
	color: #222;
}

.nugget .nugget-page .nugget-body .nugget-action {
	margin-top: 2em;
	text-align: center;
}

.nugget .nugget-page .nugget-body .nugget-button {
	background: #29c231;
	border-radius: 3px;
	color: #fff;
	font-size: 1.25em;
	padding: 0.5em 1em;
	text-decoration: none;
}

.nugget .nugget-page .nugget-footer {
	font-size: small;
}
.nugget .nugget-page .nugget-footer td {
	vertical-align: top;
}

.nugget .nugget-page .nugget-footer h4 {
	font-size: 1.2em;
	margin: 0;
}

.nugget .nugget-page .nugget-footer .nugget-address {
	padding-right: 10px;
}

.nugget .nugget-page .nugget-footer .nugget-copyright {
	color: #999;
	margin: 0;
}
