<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Nugget Markets E-Ad Item Notification</title>
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="email.css" />
	</head>
	<body class="nugget">
		<table cellspacing="0" cellpadding="0" border="0" width="100%" class="nugget-page">
		<tr>
		<td>
			<table cellspacing="0" cellpadding="10" border="0" width="100%" bgcolor="#F0F5F4" class="nugget-container nugget-header">
			<tr>
			<td>
				<img src="e-ad-builder.png" width="260" alt="Nugget Markets E-Ad Builder" />
			</td>
			</tr>
			</table>

			<table cellspacing="0" cellpadding="10" border="0" width="100%" class="nugget-container nugget-body">
			
			<tr>
			<td class="nugget-notification">

				<h1>E-Ad Item Waiting on Approval</h1>
				<p>{{ from }} has made the following changes to <strong>{{ item_name }}</strong>:</p>
				<blockquote>
					<p>{{ message }}</p>
				</blockquote>
				<h2>Action Required</h2>
				<p>Review the changes and approve the item or make a correction.</p>
				<p class="nugget-action"><a href="{{ item_link }}" class="nugget-button">Review changes</a></p>
			</td>
			</tr>
			</table>

			<table cellspacing="0" cellpadding="10" border="0" width="100%" bgcolor="#F0F5F4" class="nugget-container nugget-footer">
			<tr>
			<td class="nugget-address">
				<h4>Nugget Market, Inc.</h4>
				<div>311 Mace Boulevard<br />
				Davis, CA 95618<br />
				(530) 399-3300</div>
				<p class="nugget-copyright">Copyright &copy; <currentyear> Nugget&nbsp;Market,&nbsp;Inc.</p>
			</td>
			</tr>
			</table>
		</td>
		</tr>
		</table>
	</body>
</html>
